@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.inventory-widget1 {
    background-color: white;
    width: 1370px;
    height: 188px;
    position: absolute;
    top: 100px;
    margin-left: 320px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  }
.inventory-widget2{
    background-color: white;
    width: 1370px;
    height: 675px;
    position: absolute;
    top: 215px;
    margin-left: 2px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.text-wrapper1,
.text-wrapper2
 {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-size: 20px;
  margin-left: 1%;
}