.Sidebar {
    background-color: white;
    flex: 2;
    min-height: 95vh;
    display: flex;
    justify-content: space-between;
    padding: 24px;
    width: 225px;
    margin-left: -7.9px;
    margin-top: -10px;
}

.Sidebar .top {
    height: 40px;
    padding: 1px;
    display: flex;
    padding: 4px 12px;
    margin-left: -20px;
    margin-top: -10px;
}

.Sidebar .center {
    padding-left: 30px;
    position: absolute; 
}

.Sidebar .center2 {
    left: 14px;
    position: absolute; 
    top: 800px;
}

.center ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 70px;
}

ul li {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    font-family: sans-serif;
    padding: 25px; 
}

li .icon {
    color: #8e9ab0;
}

span {
    margin-left: 10px;
    color: #696969; 
}

/* Add hover effect */
ul li:hover span {
    color: black; 
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .Sidebar {
        min-height: 70vh;
    }
}

@media only screen and (max-width: 1133px) {
    .Sidebar {
        min-height: 80vh;
    }
}

@media only screen and (max-width: 767px) {
    .Sidebar {
        min-height: 80vh;
        width: 180px;
    }
    .Sidebar .top {
        height: 25px;
        padding: 4px 12px;
        margin-left: 15px;
        margin-top: 12px;
    }
    .Sidebar .center {
        padding-left: 1px;
    }
    .Sidebar .center2 {
        padding-left: 1px;
    }
}
