.login-section {
  width: 100%;
  height: 100%;
  display: flex;
  padding-bottom: 150px;
  box-sizing: border-box;
}

.login-section-logo {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.login-section-logo img {
  width: 700px;
}

.login-section-form-wrapper {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-section-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-section-form .login-section-input-field {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
}

.login-section-form-heading {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}

.login-section-form-heading * {
  text-align: center;
  margin: 0;
}

.login-section-form-heading h2 {
  font-size: 30px;
}

.login-section-form-heading h5 {
  font-size: 16px;
}

.login-section-form input, .login-section-form button {
  outline: none;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.login-section-form button {
  margin-top: 15px;
  color: #fff;
  background-color: #000;
  border: #000;
}
